.wrapper{
    position: relative;
    height: 780px;
    background-color: #fff;
    margin: 25px 20px 10px 30px;
}
.content{
    height: 65px;
}
.title{
    height: 100%;
    padding: 15px 17px;
    font-size: 20px;
}