.wrapper{
    position: relative;
    height: 780px;
    background-color: #fff;
    margin: 25px 20px 10px 30px;
}
.content{
    height: 65px;
}
.title{
    height: 100%;
    padding: 15px 17px;
    font-size: 20px;
}
.content-actions{
    display: flex;
    justify-content: space-between;
}
.actions{
    display: inline-flex;
    padding-left: 17px;
    font-size: 17px;
    align-items: center;
}
.action-status{
    
}
.icon-status{
    margin-left: 10px;
    margin-bottom: 2px;
    font-size: 10px;
}
.icon{
    padding-left: 20px;
}
.btn-add{
    display: flex;
    height: 45px;
    position: relative;
    
    .btn{
        width: 150px;
        padding-left: 17px;
        font-size: 17px;
        border: none;
        text-align: left;
        color: #fff;
        background-color: #0f62fe;
        cursor: pointer;
        &:hover{
            background-color: #3c7cf3;
        }
    }
    .plus{
        position: absolute;
        right: 15px;
    }
}

table{
    text-align: left;
    width: 100%;
    font-size: 13px;
    border-spacing: 0;
}
tr{
    height: 40px;
    border-bottom: 1px solid #ccc;
}
th{
    background-color: #ccc;
}