.wrapper{
    width: 100%;
    height: 100px;
    background-color: #fff;
}
.link{
    display: flex;
    padding: 12px 20px;
}
.header-title{
    font-size: 15px;
    color: #ccc;
    margin-right: 10px;
}
.line{
    margin-right: 10px;
}
.sidebar-select{
    color: #1f5fe5;
}
.title{
    padding-left: 20px;
    font-size: 30px;
}


// height: 40px;
